.Envelope{
    width: 100vw;
    height: 80vh;
    padding: 30px;
}
.formCliente{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #ced4da;
    border-radius: 5px;
}
#Endereco{
    
}