.FormPedido{

    display: flex;
    flex-direction: column;
    align-items: center;
}
#descPratos{
    display: flex;
    flex-direction: column;
}
.pratoDesc{
    color: var(--letraIOS);
}
.pratoDesc span{
    color: var(--letraIOS);
    font-weight: bold;
}
#descPratos{
    padding: 10px;
}
.FormularioCliente{
    width:100%;
}
.FormularioCliente label{
    width: 100%;
}
.radioInput{
    opacity: 0;
}
.label{
    width: fit-content;
    transition: 100ms;
    padding: 10px;
    border: 1px solid var(--bordaIOS);
}

.labelSelected{
    margin-left: 10px;
    animation: shadow 200ms ease-in 0ms forwards;
    border: 2px solid var(--verdeescuro);
}